<div class="header-message">
  <%= link_to '<', conversations_path %>
  <span class="conv-name"><%= @friend.name %></span> </div>
  <% if @friend.photo.attached? %>
    <%= cl_image_tag @friend.photo.key, crop: :thumb, class: "avatar-friend d-none" %>
  <% end %>
<div class="messages">
  <ul>
    <% unless @reco_info.nil? %>
      <div class="talk-bubble-reco">
        <li class= "reco-message"><p class ="text-message-reco">Bonjour <%= @current_user.name %> et <%= @friend.name %>,
          bienvenue dans ce qui s'annonce être une merveilleuse aventure 🍾! Vous aimez tous les deux <%= @reco_info["type"] %> !
          Pourquoi ne pas essayer <strong><%= @reco_info["name"] %></strong> samedi prochain ? Il est plutôt bien noté ! <%= @reco_info["rating"] %>/5 !</p></li>
      </div>
      <div class="talk-bubblle-calendar">
        <li class= "reco-calendar-btn">
          <%= link_to "Ajouter à mon calendrier !", calendar_path(name_user: @friend.name, name_place:@reco_info["name"], address:@reco_info["address"], type:@reco_info["calendar_type"]) %>
        </li>
      </div>
    <% end %>
    <% @messages.each do |message| %>
      <% if @friend.name == message.sender.name %>
        <div class="talk-bubble-receiver">
          <% if @friend.photo.attached? %>
            <%= cl_image_tag @friend.photo.key, crop: :thumb, class: "avatar-friend" %>
          <% end %>
          <li class= "receiver-message"><p class ="text-message"><%= message.content %></p></li>
        </div>
      <% else %>
        <div class="talk-bubble-sender">
          <li class="sender-message"><p class ="text-message"><%= message.content %></p></li>
        </div>
      <% end %>
    <% end %>
  </ul>
 <%= simple_form_for [@friend, @message] do |f| %>
   <%= f.input :content, placeholder:"Ton message",label: false %>
   <%= f.submit "Envoyer un message", class: "btn btn-warning w-100" %>
 <% end %>
</div>



<% content_for :after_js do %>
  <script>
    App['chat_room_<%= @chat_room_id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room_id %> },
      {
        received: (data) => {

          if (data.sender !== <%= current_user.id %>) {
            const newMessage = data.message;
            const messageList = document.querySelector('ul');

            const imgElement = document.querySelector('.avatar-friend');
            let imageHTML = null;

            if (imgElement) {
              const imageUrl = imgElement.attributes['src'].value
              imageHTML = `<img src="${imageUrl}" class="avatar-friend" />`
            }
            const html = `
              <div class="talk-bubble-receiver">
                ${imageHTML}
                <li class= "receiver-message"><p class ="text-message">${newMessage}</p></li>
              </div>
            `
            messageList.insertAdjacentHTML('beforeend', html)
          }
        }
      }
    );
  </script>
<% end %>
