<div class="container">
  <div class="d-flex flex-column">
    <%= simple_form_for(@profile, url: profile_path, method: :patch) do |f| %>
      <div class="edit-image justify-content-center">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, id:"profile-picture", crop: :thumb %>
        <% end %>
        <div class="edit-image-content">
          <h2>Votre photo</h2>
          <%= f.input :photo, as: :file, label: false  %>
        </div>
      </div>
      <div class="description-header">
        <h5> <%= current_user.name.capitalize %></h5>
        <% if current_user.age.nil? %>
          <% else %>
          <h6><%= current_user.age %> ANS</h6>
          <% end %>
      </div>
      <div class="user-description">
        <hr class="ml-3 mr-3 mt-1 mb-1">
        <i class="far fa-user"></i>
        <p><%=current_user.profile_mbti.description%></p>
        <hr class="ml-3 mr-3 mt-1 mb-1">
      </div>
      <h2>Ton émoji</h2>
      <%= f.input :smiley, label: false %>
      <h2>Description</h2>
      <%= f.input :description, input_html: { maxlength: 50 }, label: false %>
      <h2>Métier</h2>
      <%= f.input :job, input_html: { maxlength: 50 }, label: false  %>
        <h2>Votre film préféré</h2>
        <%= render "search_movie" %>
        <% if current_user.movie_title != nil %>
          <div class="selection d-flex">
              <img src='<%= current_user.movie_image_url %>'>
              <div>
                <div class='card-title'>
                  <%= current_user.movie_title %>
                </div>
                <div class='card-text'>
                  <%= current_user.movie_year %>
                </div>
              </div>
          </div>
        <% end %>
        <%= f.input :movie_title, wrapper_html: {class: "d-none"}  %>
        <%= f.input :movie_year, wrapper_html: {class: "d-none"}  %>
        <%= f.input :movie_image_url, wrapper_html: {class: "d-none"}  %>
      </div>
      <h2>Les activités qui vous plaisent</h2>
      <%= render "tags" %>
      <%= f.input :form_tag_list, wrapper_html: {class: "d-none"} %>
      <div class="d-flex justify-content-center flex-column align-items-center">
        <%= f.button :submit, "Mettre à jour", class: "btn btn-warning p-2 w-50 rounded-pill" %>
        <%= link_to "Annuler", profile_path %></h3>
      </div>
    <% end %>
  </div>
</div>
