<% user = @match %>
<% common_activities = [] %>
  <% if @find_95_matches.include?(@match) %>
    <% percentage = "95" %>
  <% elsif @find_80_matches.include?(@match)%>
    <% percentage = "80" %>
  <% elsif @find_65_matches.include?(@match) %>
    <% percentage = "65" %>
  <% elsif @find_40_matches.include?(@match) %>
    <% percentage = "40"%>
  <% else %>
    <% percentage = "25" %>
<% end %>

<div class="container">
  <div class="d-flex flex-column">
    <div class="show-image justify-content-center">
      <%if user.photo.attached? %>
        <%= cl_image_tag user.photo.key, id:"profile-picture", crop: :thumb %>
        <% else %>
        <i class="fas fa-user-edit"></i>
      <% end %>
    </div>
    <div class = "card-description-profile pb-4">
      <div class="description-header mt-5 pt-2">
        <h5> <%= user.name.capitalize %></h5>
        <%if user.age.nil? %>
          <% else %>
          <h6><%= user.age %> ANS</h6>
        <%end %>
      </div>
        <div class="progress ml-5 mr-5 rounded-pill">
          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= percentage.to_i %>%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><%= percentage.to_i %>%</div>
        </div>
      <div class="user-description mt-3">
        <p><%=user.profile_mbti.description%></p>
        <hr class="ml-3 mr-3 mt-1 mb-1">
      </div>
      <div class="user-preferences">
        <div class="pref pr-3 pl-4 mt-2">
          <% if user.job.nil? %>
            <% else %>
            <i class="fas fa-suitcase"></i>
            <p class="ml-3"><%=user.job%></p>
          <% end %>
        </div>
        <div class="pref pr-3 pl-4 mt-2">
          <% if user.movie_title.nil? %>
            <% else %>
            <i class="fas fa-video"></i>
            <p class="ml-3"><%= user.movie_title %></p>
            <% end %>
        </div>
      </div>
      <% if user.tag_list.nil? %>
        <% else %>
        <div class="cards-activities ml-5 mr-5 mt-3">
          <% user.tag_list.each do |tag|%>
            <div class="clickable <%= "active" if current_user.tag_list.include?(tag) %>">
              <i class="fas <%= User::ICONS[tag] %>"></i>
              <small><%= User::FRENCH_ACTIVITIES[tag.downcase]%></small>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Contacter", user_messages_path(user.id), class:"btn btn-warning mb-3 pt-1 pb-1 w-50 rounded-pill btn-modifier" %>
  </div>
</div>

